In [1]:
ext_1 = 'this is a string'
ext_2 = "this is also a string"
ext_3 = '''this is a string with multiple lines
and it continues here
and here
'''
ext_4 = """this is a string with multiple lines
and it continues here
and here
""" 
print (ext_1)
print (ext_2)
print (ext_3)
print (ext_4)

this is a string
this is also a string
this is a string with multiple lines
and it continues here
and here

this is a string with multiple lines
and it continues here
and here

In [2]:
print ("Hello World")

Hello World

In [3]:
print ('Hello World')

Hello World

In [4]:
2 * 3

6

In [5]:
print ("New")

New

In [6]:
#int  =  whole numbers: 3 300 200
#float = decimal: 2.3 4.1 100.6
#str = sequence of characters: "hello" , 'sammy'
#list = ordered sequence of objects: [10,"hello",200.3]
#dict = unordered key:value pairs: {"mykey":"value","name":"Frankie"}
#tup = Ordered immutable sequence of objects: (10, "hello" , 200.3)
#set = Unordered collection of unique objects: {"a", "b"}
#bool = logical value indicating True or False.

In [7]:
2+1

3

In [8]:
2-1

1

In [9]:
2*2

4

In [10]:
3/2

1.5

In [11]:
#Modulo or "Mod" Operator

In [12]:
7 / 4

1.75

In [13]:
7 % 4 #using of "Mod" Operator

3

In [14]:
50 % 5 #Mod

0

In [15]:
23 #odd or even?
23 % 2

1

In [16]:
2 ** 3

8

In [17]:
2 + 10

12

In [18]:
2 + 10 * 10 + 2

104

In [19]:
(2+10) * (10+3)

156

In [20]:
6 ** 6

46656

In [21]:
6*6

36

In [22]:
1/2

0.5

In [23]:
#Variable Assignments.

In [24]:
#example: mydogs=2

In [25]:
#rules for variable names
#>Names canot start with a number
#>There can be no spaces in th ename, use '_' instead
#>Can't use any these symbols :"",<>/?()!@#$%^&*~-+
#>lowercase
#>avoid special keyword i,e list and str
#> Dynamic typing

In [26]:
a = 5

In [27]:
a

5

In [28]:
a = 10

In [29]:
a

10

In [30]:
a

10

In [31]:
a + a

20

In [32]:
a = a + a

In [33]:
a

20

In [34]:
a

20

In [35]:
a = a + a

In [36]:
a

40

In [37]:
type(a)

int

In [38]:
a = 30.1

In [39]:
type(a)

float

In [40]:
my_income = 100
tax_rate = 0.1

In [41]:
my_taxes = my_income * tax_rate

In [42]:
my_taxes

10.0

In [43]:
#Strings

In [44]:
# 'hell0'
# "Hello"
# "I don't do that"
# ordered Sequence

In [45]:
#character: h e l l o
#index    : 0 1 2 3 4
#reverse index : 1 2 3 4 0

In [46]:
#[start:stop:step]

In [47]:
'hello'

'hello'

In [48]:
"World"

'World'

In [ ]:
'this is also a string'

'this is also a string'

In [ ]:
' I 'm going on a run'

In [ ]:
"I 'm going on a run"

In [ ]:
print ("Hello")

In [ ]:
"Hello world one"

In [ ]:
print ("Hello world one")
print ("Hello world two")

In [ ]:
print ('hello \n world')

In [ ]:
print ('hello \nworld')

In [ ]:
print ('Hello \tWorld')

In [ ]:
len ('hello')

In [ ]:
len ('I am')

In [ ]:
# Sting Indexing and Slicing

In [ ]:
mystring = "Hello World"

In [ ]:
mystring

In [ ]:
mystring[0]

In [ ]:
mystring[8]

In [ ]:
mystring[9]

In [ ]:
mystring

In [ ]:
mystring [-2]

In [ ]:
mystring [-3]

In [ ]:
mystring [-0]

In [ ]:
#slicing part

In [ ]:
mystring

In [ ]:
mystring = 'abcdefghijk'

In [ ]:
mystring

In [ ]:
mystring[2:]

In [ ]:
mystring[:3]

In [ ]:
mystring

In [ ]:
mystring[3:6]

In [ ]:
mystring[1:3]

In [ ]:
mystring

In [ ]:
mystring[4:8]

In [ ]:
mystring

In [ ]:
mystring[::]

In [ ]:
mystring[2:7:2]

In [ ]:
mystring[::-1]

In [ ]:
newstring = 'Hello World'

In [ ]:
newstring

In [ ]:
newstring[8]

In [ ]:
# Sting properties and String Methods

In [ ]:
#Immitability
name = "same"

In [ ]:
name

In [ ]:
last_letters=name[1:]

In [ ]:
last_letters

In [ ]:
'p' + last_letters

In [ ]:
x = "Hello World"

In [ ]:
x

In [ ]:
x + "Int is beaitiful outside!"

In [ ]:
x

In [ ]:
x + "it is beaitiful outside!"

In [ ]:
letter = 'z'

In [ ]:
letter * 1000

In [ ]:
2 + 3

In [ ]:
'2' + '3'

In [ ]:
x = 'Hello World'

In [ ]:
x

In [ ]:
x.upper()

In [ ]:
x

In [ ]:
r = 'rahman'

In [ ]:
r

In [ ]:
r = r.upper ()

In [ ]:
r

In [ ]:
r

In [ ]:
r = r.lower ()

In [ ]:
r

In [ ]:
x.split()

In [ ]:
x = ' hi this is a string'

In [ ]:
x.split ()

In [ ]:
#String FOrmatting for Printing

In [ ]:
my_name = "Jose"

In [ ]:
print ("Hello" + my_name)

In [ ]:
#2 methods. .format  f-strings

# Formatting with the .format() method
A good way to format objects into your strings for print statements is with the string .format()
method. THe syntax is:
'String here{}then also{}'.format('something1':'something2')

In [ ]:
print('This is a string {}' . format ('INSERTED'))

In [ ]:
print ('The {2} {1} {0}'.format ('fox', 'brown', 'quick'))

In [ ]:
print ('The {2} {1} {0}'.format ('fox', 'brown', 'quick'))

In [ ]:
print ('The {0} {0} {0}'.format ('fox', 'brown', 'quick'))

In [ ]:
print ('the {q} {b} {f}' .format(f='fox', b = 'brown', q = 'quick'))

# Float formatting fllows "{value:width.precision f}"

In [ ]:
result = 100/777

In [ ]:
result

In [ ]:
print("The result was {r:1.3f}".format(r=result))

In [ ]:
# f-string

In [ ]:
name = "Jose"

In [ ]:
print('Hello, his is {name}')

In [ ]:
name

In [ ]:
print (f'Hello, his name is {name}')

In [ ]:
name = "Sam"
age = 3
print(f'{name} is {age} years old')

# List in Python

In [ ]:
my_list = [1,2,3]

In [ ]:
my_list

In [ ]:
my_list= ['string', 100, 23.3]

In [ ]:
my_list

In [ ]:
len(my_list)

In [ ]:
mylist = ['one', 'two', 'three']

In [ ]:
mylist[0]

In [ ]:
mylist[1:]

In [ ]:
another_list= ['four', 'five', 'six']

In [ ]:
mylist + another_list

In [ ]:
newlist = mylist + another_list

In [ ]:
newlist

In [ ]:
newlist[0] = "ONE ALL CAPS"

In [ ]:
newlist

In [ ]:
newlist.append('seven')

In [ ]:
newlist

In [ ]:
newlist.append('eight')

In [ ]:
newlist

In [ ]:
newlist.pop(0)

In [ ]:
newlist.pop()

In [ ]:
newlist.pop(-1)

In [ ]:
new_list_again = ['e''d''a','b','c']
numblist = [4,1,3,5,6]

In [ ]:
new_list_again

In [ ]:
new_list_again.sort()

In [ ]:
new_list_again

In [ ]:
new_list_again.sort()

In [ ]:
alphabets = ['c', 'b', 'a', 'e', 'd']
numbs = [4,5,6,8,7,2,3,1]

In [ ]:
alphabets.sort()

In [ ]:
alphabets

In [ ]:
numbs.sort()

In [ ]:
numbs

In [ ]:
type(numbs)

In [ ]:
type(alphabets)

In [ ]:
numbs.reverse()

In [ ]:
numbs

# Dictionaries

In [ ]:
# {'key1':'value1','key2':'value2'} - unordered cannot be sorted

In [ ]:
my_dict ={'key1':'value1', 'key2':'value2'}

In [ ]:
my_dict

In [ ]:
my_dict ['key1']

In [ ]:
prices_lookup = {'apple':2.99, 'banana':3.17, 'orange':1.50, 'mango':6.5}

In [ ]:
prices_lookup['mango']

In [ ]:
d = {'k1':123, 'k2':[0,1,2], 'k3':{'insidekey':100}}

In [ ]:
d['k2']

In [ ]:
d['k3']

In [ ]:
d['k1']

In [ ]:
new_dict = {'a', 'b', 'c'}

In [ ]:
new_dict

In [ ]:
new_dict

# Tuples

In [ ]:
# They cannot be changed - immutability

In [ ]:
t = (1,2,3)

In [ ]:
mylist = [1,2,3]

In [ ]:
type

In [ ]:
type(t)

In [ ]:
type(mylist)

# Booleans

In [ ]:
True

In [ ]:
False

In [ ]:
type(False)

In [ ]:
1 > 2

In [ ]:
1 == 1

# I/O with basic Files in Python

In [ ]:
%%writefile myfile.txt
This is my first text file created through jupyter nook
Hello Again

In [ ]:
myfile = open('myfile.txt')

In [ ]:
myfile = open('whoops_wrong.txt')

In [ ]:
pwd

In [ ]:
cd ..

In [ ]:
ls -l

In [ ]:
cd Desktop

In [ ]:
ls -l

In [ ]:
myfile.seek(0)

In [ ]:
myfile.read()

In [ ]:
contents = myfile.read()

In [ ]:
contents

File Location

In [ ]:
myfile.close()

In [ ]:
contents

In [ ]:
myfile.seek(0)

In [ ]:
with open ('myfile.txt')as my_new_file:
    contents = my_new_file.read()

In [ ]:
c

# Reading, Writing, Appending Modes:

========= ===============================================================
Character Meaning
--------- ---------------------------------------------------------------
'r'       open for reading (default)
'w'       open for writing, truncating the file first
'x'       create a new file and open it for writing
'a'       open for writing, appending to the end of the file if it exists
'b'       binary mode
't'       text mode (default)
'+'       open a disk file for updating (reading and writing)
'U'       universal newline mode (deprecated)

In [ ]:
%%writefile python_text.txt
ONE ON FIRST
TWO SECOND
THREE ON THIRD
FOUR ON FOURTH
FIVE ON FIFTH

In [ ]:
with open('python_text.txt', mode ='r') as f:
    print (f.read())

In [ ]:
with open ('python-text.txt',mode='a') as f:
    f.write('\nSIX ON SIXTH')

In [ ]:
with open('python_text.txt', mode ='r') as f:
    print (f.read())

In [ ]:
with open('python_text.txt', mode ='r') as f:

In [ ]:
#####End#####

In [ ]:
# Self practicing.

In [ ]:
#List

In [ ]:
thelist = ["apples", "bananas", "cherry"]
thelist[1] = "blackcurrent"
print(thelist)

In [ ]:
# string #1

In [ ]:
print ("Hello World")
print ('Hello World')

In [ ]:
a = "Hello"
print (a)

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua"""
print (a)

In [ ]:
a = "Hello World!"
print ((a)[1])

In [ ]:
for x in "banana":
    print (x)

In [ ]:
a  = "Hello World!"
print (len(a))

In [ ]:
txt = "the best things in life are free!"
print ("free" in txt)

In [ ]:
a

In [ ]:
a = "Hello World!"
print ("H" in a)

In [ ]:
a = "Hello World!"
print ("H" not in a)

In [ ]:
txt

In [ ]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

In [ ]:
b = "Hello World"
print (b[2:5])

In [ ]:
b = "Hello World"
print (b[:5])

In [ ]:
#Example
#Get the characters:

#From: "o" in "World!" (position -5)

#To, but not included: "d" in "World!" (position -2):

b = "Hello World"
print (b[-5:-2])

In [ ]:
b = "Hello World"

In [ ]:
print (b.upper())

In [ ]:
b = "HELLO WORLD"

In [ ]:
print (b.lower())

In [ ]:
len(b)

In [ ]:
a = " Hello World"
print ('a')

In [ ]:
print (a)

In [ ]:
print (a.strip()) # remove space from the begining

In [ ]:
a = "Hello, Rahman"

In [ ]:
print (a.replace("H", "J"))

In [ ]:
a

In [ ]:
print (a.split(","))

In [ ]:
a = "Hello"
b = "World"
c = a + b
print (c)

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print (c)

In [ ]:
age = 22
name = "Rahman"
txt = "My name is " + name
print (txt)

In [ ]:
age = 22
txt = "My name is Rahman, and I an {}"
print (txt.format(age))

In [ ]:
print ('Hello World')

In [ ]:
age = 36
txt = "my name is John, I am " + age
print (txt)

In [ ]:
txt

In [ ]:
age = 36

In [ ]:
txt = "My name is John, I am {}"

In [ ]:
print (txt.format(age))

In [ ]:
age = 22

In [ ]:
name = Rahman

In [ ]:
name = rahman

In [ ]:
name = 'rahman'

In [ ]:
txt = "Hello I am "

In [ ]:
txt_2 = " And I am "

In [ ]:
print (txt.format(name))

In [ ]:
quantity = 3

In [ ]:
item = 567

In [ ]:
price = 49.5

In [ ]:
myorder = "I want {} peice of item {} for dollars"

In [ ]:
print (myorder.format(quantity, item, price))

In [ ]:
name = 'Rahman'

In [ ]:
age = 22

In [ ]:
height = '6_feet'

In [ ]:
txt_file = "Hello I am {}, I am {} years old and {} tall"

In [ ]:
print(txt_file.format(name, age, height))

In [ ]:
quote = "We are the so called \"Vikings\" from the north"

In [ ]:
print (quote)

In [ ]:
text_file = "Hello my name is \"Rahman\" and I am \"22\" years old. And my dream job is \"DevOps\"."

In [ ]:
print (text_file)

In [ ]:
text_file

In [ ]:
len(text_file)

In [ ]:

print = (10 == 9)
print = (10 < 9)

In [ ]:
print = (10 == 9)

In [ ]:
a = 200

In [ ]:
b = 33

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

# Python comparison Operators

In [ ]:
2  == 2

In [ ]:
2  == 1

In [ ]:
'hello' == 'Rahman'

In [ ]:
'2' == 2

In [ ]:
2.0 == 2

In [ ]:
2.0 == 2.1

In [ ]:
3 != 3

In [ ]:
4 != 5

In [ ]:
2 > 1

In [ ]:
1> 2

In [ ]:
1 < 2

In [ ]:
2 >= 2

In [ ]:
4 <= 1

In [ ]:
1 < 2

In [ ]:
2 < 2

In [ ]:
2 <3

In [ ]:
1 < 2 and 2 < 3

In [ ]:
('h' == 'h') and (2 == 2)

In [ ]:
100 == 1 or 2 == 1

In [ ]:
1 == 1 or 2 == 2

In [ ]:
1 == 1

In [ ]:
not (1 ==1)

In [ ]:

not 1 == 1

In [ ]:
not 400 > 5000

In [ ]:
2 <=3>=1

# If, elif, else statements

In [ ]:
# Syntax of an if/else statement. 
#if some_condition:
    # execute some code
#else:
    # do something else

In [ ]:
if True:
    print('ITS TRUE!')

In [ ]:
hungry = True

if hungry:
    print('FEED ME!')

In [ ]:
if True:
    print ('ITS TRUE!')

In [ ]:
if hungry:
    print ('FEED ME!')

In [ ]:
if hungry:
    print ('FEED ME!')

In [ ]:
if True:
    print('ITS TRUE')

In [ ]:
if 3>2:
    print ('ITS TRUE')

In [ ]:
hungry = False

if hungry==True:
    print('Feed Me')
else:
    print ("I'm not Hungry")

In [ ]:
loc = 'Bank'

if loc == 'auto shop':
    print ("cars are cool!")
elif loc == 'Bank':
    print ("money is cool")
else:
    print ("i do not know much")

In [ ]:
loc == 'Hyderabad'
if loc == 'auto shop':
    print ('Hyderabad is cool')
elif loc == 'Hyderabad':
    print ('Hyderabad is not cool')
else:
    print ('I do not know much about it')

In [ ]:
location = 'Chennai'
if location == 'Hyderabad':
    print ("Hyderabad is the city of pearls and nawabs")
elif location == 'Banglore':
    print ("Bengaluru is a silicon city of India")
elif location == 'Mumbai':
    print ("Welcome to Bollywood")
else:
    print ("I do not know much about that location")

In [ ]:
name = 'frankie'
if name == 'frankie':
    print ("Hello frankie")
elif name == 'sammy':
    print ("Hello sammy")
else:
    print ("what is your name?")

In [ ]:
# FOOR LOOPS

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9,10]
for Test in mylist:
    print ('Test')

In [ ]:
for numb in mylist:
    #check for even & odd
    if numb %2 == 0:
        print (f'#even number:{numb}')
    else:
        print (f'#odd number:{numb}')

In [ ]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num

    print (list_sum)

In [ ]:
mystring = 'Hello'
for letter in mystring:
    print (letter)

In [ ]:
mylist

In [ ]:
mylist =[(1,2),(3,4),(5,6)]

In [ ]:
len(mylist)

In [ ]:
for item in mylist:
    print (item)

In [ ]:
#Tuples unpacking

In [ ]:
mylist

In [ ]:
for a,b in mylist:
    print (a)

In [ ]:
for a,b in mylist:
    print (b)

In [ ]:
mylist = [(1,2),(3,4),(5,6)]

In [ ]:
for item in mylist:
    print (item)

In [ ]:
mylist

In [ ]:
for a,b,c in mylist:
    print (b)

In [ ]:
mylist

In [ ]:
for a,b,c in mylist:
    print (a)

In [ ]:
newlist = [(1,2,3),(4,5,6),(7,8,9)]

In [ ]:
for numb in newlist:
    print (numb)

In [ ]:
for a,b,c in newlist:
    print(a)

In [ ]:
for a,b,c in newlist:
    print(b)

In [ ]:
for a,b,c in newlist:
    print(c)

In [ ]:
d  = {'k1':1,'k2':2,'k3':3}

In [ ]:
for item in d:
    print (item)

In [ ]:
len(d)

In [ ]:
for a,b in d:
    print (a)

In [ ]:
for key,value in d:
    print (value)

In [ ]:
for key,value in d.items():
    print (value)

In [ ]:
for item in d.items():
    print (item)

In [ ]:
#While Loops

In [6]:
x = 0
while x < 5:
    print (f'the current value of x is {x}')
    x = x + 1
else:
    print ("X is not less than 5")

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
X is not less than 5

In [7]:
x = [1,2,3]
for item in x:
    pass
print ('End of my script')

End of my script

In [8]:
# Pass does nothing at all.

In [10]:
mysting = 'sammy'
for letter in mysting:
    print(letter)

s
a
m
m
y

In [13]:
for letter in mysting:
    if letter == 'a':
        break
    print (letter)

s

In [17]:
x = 0
while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [18]:
# Useful Operators

In [19]:
mylist = [1,2,3]

In [20]:
for num in range (0,10):
    print (num)

0
1
2
3
4
5
6
7
8
9

In [22]:
mylist = [1,2,3,4]
for num in range (0,20,2):
    print (num)

0
2
4
6
8
10
12
14
16
18

In [24]:
index_count = 0
for letter in 'abcde':
    print ('At index{} the letter is {}'.format(index_count,letter))
    index_count == 1

At index0 the letter is a
At index0 the letter is b
At index0 the letter is c
At index0 the letter is d
At index0 the letter is e

In [28]:
word = 'abcde'
for item in enumerate (word):
    print (item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [31]:
d = {'mykey':345}
345 in d.values()

True

In [32]:
d = {'mykey':345}
345 in d.keys()

False

In [2]:
mylist = [1,2,3,5,6,7,8,9,10]

In [3]:
min(mylist)

1

In [4]:
from random import shuffle

In [5]:
shuffle(mylist)

In [6]:
mylist

[2, 6, 8, 1, 10, 7, 5, 9, 3]

In [7]:
mylist

[2, 6, 8, 1, 10, 7, 5, 9, 3]

In [18]:

from random import randint
randint (0,100)

76

In [20]:
result = input('Enter a number here: ')

In [21]:
result

'56'

In [22]:
float(result)

56.0

In [23]:
mystring = 'hello'

In [25]:
mylist = []
for letter in mystring:
    mylist.append(letter)

In [26]:
print (mylist)

['h', 'e', 'l', 'l', 'o']

In [1]:
mylist = [1,2,3]

In [3]:
mylist.append(4)

In [4]:
mylist

[1, 2, 3, 4]

In [6]:
mylist.append(5)

In [7]:
mylist

[1, 2, 3, 4, 5]

In [8]:
mylist.pop(3)

4

In [9]:
mylist

[1, 2, 3, 5]

In [10]:
mylist.pop()

5

In [11]:
mylist

[1, 2, 3]

In [12]:
mylist.insert

TypeError: insert expected 2 arguments, got 1

In [13]:
ipython nbconvert --to html notebook.ipynb

SyntaxError: invalid syntax (2364080979.py, line 1)

In [1]:
print ('Hello World')

Hello World

In [3]:
"""
this is a comment
"""
print ('Hello')

Hello

In [16]:
def name_of_function():
    print("Hello")

In [17]:
def say_hello():
    print ("hello")

In [18]:
say_hello()

hello

In [19]:
def say_hello():
    print ("hello")
    print ("how")
    print ("are")
    print("you?")

In [20]:
say_hello()

hello
how
are
you?

In [38]:
def say_hello(name='Default'):
    print (f'hello {name}')

In [39]:
say_hello ()

hello Default

In [5]:
def add_num(num1,num2):
    return num1+num2

In [6]:
add_num(10,20)

30

In [7]:
result = add_num(10,20)

In [8]:
result

30

In [9]:
result

30

In [10]:
def print_result(a,b):
    print(a+b)

In [11]:
print_result(a+b):
return a+b

SyntaxError: invalid syntax (2283904721.py, line 1)

In [12]:
# What are functions?
# a collection of instructions
# a collection of code

def fucntion1():
    print("aahhh")
    print("aahhh 2")
print("this is outside the function")

this is outside the function

In [13]:
fucntion1()

aahhh
aahhh 2

In [14]:
# a mapping
def function2(x):
    return 2*x

In [16]:
a = function2(3)
#retrun value or output

In [17]:
print (a)

6

In [18]:
def function4(x):
    print(x)
    print("still inside the function")
    return 3 * x

In [20]:
f = function4(4)

4
still inside the function

In [21]:
print (function4)

<function function4 at 0x00000233C131B060>

In [22]:
print(f)

12

In [27]:
def function5(some_argument):
    print(some_argument)
    print("weeeee")

In [29]:
function5(10)

10
weeeee

In [30]:
# BMI Calculator
"""
Adult BMI Calculator. Body mass index (BMI) is a person's weight in kilograms divided by the square of height in meters. 
BMI is an inexpensive and easy screening method for weight categoryunderweight, healthy weight, overweight, and obesity.
"""

"\nAdult BMI Calculator. Body mass index (BMI) is a person's weight in kilograms divided by the square of height in meters. \nBMI is an inexpensive and easy screening method for weight categoryunderweight, healthy weight, overweight, and obesity.\n"

In [31]:
# functions with Logic

In [32]:
2 % 2

0

In [33]:
3 % 2

1

In [34]:
41 & 40

40

In [35]:
41 % 40

1

In [36]:
def even_check(number):
    result = number % 2 == 0
    return result

In [37]:
even_check(20)

True

In [38]:
even_check(40)

True

In [39]:
even_check(45)

False